---
layout: default
---

<div class="home">
  <div class="wrapper">
    {% include landing.html %}
  </div>


  {% for post in paginator.posts%}
  <div class="postContent">
    <div class="postDate"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
    </div>
    <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
    <br>
    <div class="postArchive">
    <a class='postLink' href="{{site.baseurl}}{{post.url}}" itemprop="url"><span itemprop="name">{{post.title}}</span></a>
    </div>
    <div class="postExt">
      {{ post.excerpt | strip_html | truncate:200 }} <a href="{{ site.baseurl }}{{post.url}}">Read more</a>
    </div>
    {% assign words = post.title | downcase | split: " " %}
    {% assign excerpt = {{ post.content | strip_html | truncate:100 }} %}
    {% assign my_link = /blog/{{ post.title | join:'-' | escape }} %}
    {%
      include structured_data/posts.html
      headline=post.title
      genre=post.category
      keywords=post.tags
      content=excerpt
      link=my_link
      date=post.date
    %}
  </div>

  {% endfor %}

  {% if paginator.total_pages > 1 %}
    <nav class="pagination">
      {% if paginator.previous_page %}
        <a class="paginationLink" href="{{ site.baseurl }}{{ paginator.previous_page_path | replace: '//', '/' }}">&laquo; Prev</a>
      {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em class="paginationLink paginationLinkCurrent">{{ page }}</em>
      {% elsif page == 1 %}
        <a class="paginationLink" href="/">{{ page }}</a>
      {% else %}
        <a class="paginationLink" href="{{ site.baseurl }}{{ site.paginate_path | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="paginationLink" href="{{ site.baseurl }}{{ paginator.next_page_path | replace: '//', '/' }}">Next &raquo;</a>
    {% endif %}
    </nav>
  {% endif %}

  {% include structured_data/home.html %}

</div>
