<div class="landing">
    Hi, welcome to my site!  My name is Kevin Fronczak and I'm an Analog Circuit Designer with experience working on all types of sensors including capacitive touch and fingerprint, as well as CMOS image sensors and display drivers.  I have a Master of Science in Electrical Engineering from the Rochester Institute of Technology in Rochester, NY where I currently live with my beautiful wife and daughter.  I also have an passion for woodworking in my spare time, which I write about on my other site <a href=https://kevinfronczakdesigns.com>Kevin Fronczak Designs</a> if you're interested in checking it out!
</div>

