<script type="application/ld+json">
{ "@context": "http://schema.org",
 "@type": "Blog",
 "keywords": "analog circuit design engineer touch fingerprint biometrics noise low-power engineering designer matlab python,"
 "url": "{{ site.baseurl }}",
 "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.baseurl }}"
  },
 "author": {
    "@type": "Person",
    "name": "Kevin Fronczak",
    "sameAs": [
        "https://github.com/fronzbot",
        "https://plus.google.com/112051215299289480804",
        "https://www.linkedin.com/in/kfronczak/",
        "https://scholar.google.com/citations?user=NmzmakYAAAAJ&hl=en"
    ]
  }
 }
</script>
