{% assign wordcount = include.content | number_of_words %}

<script type="application/ld+json">
{
   "@context":"http://schema.org",
   "@type":"BlogPosting",
   "headline":"{{ include.headline }}",
   "genre":"{{ include.category }}",
   "keywords":"{{ include.keywords }}",
   "wordCount":"{{ wordcount }}",
   "url":"{{ site.url }}{{ include.link }}",
   "datePublished":"{{ include.date | | date: '%Y-%m-%d' }}",
   "author": {
      "@type": "Person",
      "name": "Kevin Fronczak",
      "image": "{{ site.url }}{{ site.image_path }}/kevin.jpg",
      "sameAs": [
          "https://github.com/fronzbot",
          "https://plus.google.com/112051215299289480804",
          "https://www.linkedin.com/in/kfronczak/",
          "https://scholar.google.com/citations?user=NmzmakYAAAAJ&hl=en"
      ]
   },
   "publisher": {
      "@type": "Organization",
      "name": "Kevin Fronczak",
      "sameAs": [
          "https://github.com/fronzbot",
          "https://plus.google.com/112051215299289480804",
          "https://www.linkedin.com/in/kfronczak/",
          "https://scholar.google.com/citations?user=NmzmakYAAAAJ&hl=en"
      ],
      "logo": {
          "@type": "ImageObject",
          "contentUrl": "{{ site.url }}/favicon.png",
          "url": "{{ site.url }}"
      }
   },
   "image":{
      "@type":"ImageObject",
      "contentUrl":"{{ site.url }}{{ site.image-path }}/kevin.jpg",
      "height": 1289,
      "width": 1123,
      "url":"{{ site.url }}"
   },
   "articleBody":"{{ include.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}"
}
</script>
