/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

/**
 * Site header
 */
.site-header {
  border-top: 5px solid  #828282;
  border-bottom: 1px solid  #828282;
  min-height: 56px;
  // Positioning context for the mobile navigation icon
  position: relative;
}
.site-title {
  font-size: 64px;
  font-weight: 100;
  font-family: 'PT Sans';
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 1em;
  &,
  &:visited {
    color:  #828282;
  }
}
.site-description {
  font-size: 14px;
  letter-spacing: 2px;
  text-indent: 6px;
  font-family: 'Josefin Sans';
}
.exclamationMark {
  padding-left: 2em;
  padding-right: 2em;
}
.site-navigation {
  color: #555;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  text-indent: 6px;
  font-family: 'Josefin Sans';
  font-weight: 300;
  padding-top: 5em;
  text-align: center;
}
.landing {
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 300;
  padding-top: 1.0em;
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{800px} - (#{30px} * 2));
    max-width:         calc(#{800px} - (#{30px} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    @extend %clearfix;
}

/**
 * Titles
 */
.page-title {
   text-transform: uppercase;
   letter-spacing: 2px;
   text-indent: 2px;
   font-family: "PT Sans";
   font-size: 12px;
   text-align:center;
 }
.postTitle {
   font-weight: 400;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 3px;
   text-indent: 3px;
 }
.post-header {
   margin-bottom: $spacing-unit;
 }
.post-title {
   font-size: 62px;

   text-align: center;
   font-family: "PT Sans";
   font-weight: 900;
 }
 /**
  * Images
  */
  figure > img {
      display: block;
  }

 .center {
      float: center;
      text-align: center;
  }

 img {
     max-width: 100%;
     vertical-align: middle;
 }

/**
* Content
*/
body {
    font: 400 #16px/#1.5 "PT Sans", Helvetica, Arial, sans-serif;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
.post {
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 300;
  padding-top: 0;
}
.page-content {
  padding: 0;
}
.page-heading {
  font-size: 20px;
}

/**
* Links
*/
a {
    color: #111 !important;
    text-decoration: none;

    &:visited {
        color: #111;
    }

    &:hover {
        color: #111 !important;
        border-bottom: 1px solid #111 ;
    }

    &.page-link{
      color: #555 !important;
      border-bottom: none;
      &:hover {
          color: #111 !important;
          border-bottom: 1px solid #111 ;
      }
    }
    &.postLink{
      color: black !important;
      font-weight: 500;
      border-bottom: none;
      &:hover {
          color: #111 !important;
          border-bottom: none;
      }

      &:visited {
          color: "black" !important;
      }
    }
    &.post-title-link{
      color: black !important;
      border-bottom: none;
      &:hover {

          border-bottom: 1px dotted black !important ;
      }

      &:visited {
          color: #111 !important;
      }
    }
}

/**
 * Page content
 */

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}
.post-link {
  display: block;
  font-size: 24px;
}
/**
 * Posts
 */

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

/**
 * End of Post
 */
.post-col-wrapper {
  margin: auto;
  @extend %clearfix;
}
.post-col {
  float: left;
  margin-bottom: 30px / 2;
  padding-left: 30px / 2;
}
.post-col-1 {
  width: calc(50% - (#{30px} / 2));
  text-align: left
}
.post-col-2 {
  width: calc(50% - (#{30px} / 2));
  text-align: right
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: 30px / 2;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #828282;
  padding: 30px 0;
}
.footer-heading {
  font-size: 18px;
  margin-bottom: 30px / 2;
}
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}
.small-site-title {
  font-family: "PT Sans";
}
.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin: auto;
  @extend %clearfix;
}
.footer-content {
  font-family: "Josefin Sans";
  font-weight: 300;
  letter-spacing: 1px;
}
.footer-col {
  float: left;
  margin-bottom: 30px / 2;
  padding-left: 30px / 2;
}
.footer-col-1 {
  width: calc(33% - (#{30px} / 2));
  text-align: left;
}
.footer-col-2 {
  width: calc(33% - (#{30px} / 2));
  text-align: center;
}
.footer-col-3 {
  width: calc(33% - (#{30px} / 2));
  text-align: right;
}

/**
 * Images
 */
 figure > img {
     display: block;
 }

.center {
     float: center;
     text-align: center;
 }

img {
    max-width: 100%;
    vertical-align: middle;
}
