---
layout: page
---

{% for post in site.posts %}
<div class="post postContent">
  {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if currentyear != year %}
    <h3>{{ currentyear }}</h3>
    {% capture year %}{{currentyear}}{% endcapture %}
  {% endif %}
  <div  class="postDateArchive"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d" }}</time>
  </div>
  <div class="postArchive">
    <a class='postLink' href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a>
  </div>
  <div class="postExt">
    {{ post.excerpt | strip_html | truncate:200 }} <a href="{{ site.baseurl }}{{post.url}}">Read more</a>
  </div>

</div>

{% endfor %}
