<!DOCTYPE html>
<html>
	<head>
		<title>Kevin Fronczak, Analog Circuit Designer</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">Resume</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Kevin Fronczak!</h1>
				<p>This website is under construction!</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:kfronczak@gmail.com">email</a></li>
        		<li><a href="https://github.com/fronzbot">github.com/fronzbot</a></li>
			</ul>
		</footer>
	</body>
</html>