---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <head>
    {% if page.use_math %}
      {% include mathjax_support %}
    {% endif %}
  </head>

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline"><a class="post-title-link"  href="{{site.baseurl}}{{page.url}}">{{ page.title }}</a></h1>
  <center>  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">Written by <a class="post-title-link"  href="{{site.baseurl}}/about">{{ page.author }}</a> on {{ page.date | date: "%b %-d, %Y" }}</time></p>
   </center>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
      <div class="postTag">
  Tags:&nbsp;
  {% for tag in page.tags %}
     {{tag}}&nbsp;
  {% endfor %}
  </div>
  </div>
  <footer class="postNavigation">
  {% if page.previous.url %}
    <a class="postPrev" href="{{page.previous.url}}">
        &laquo; {{page.previous.title}}
    </a>
  {% endif %}
  {% if page.next.url %}
    <a class="postNext" href="{{page.next.url}}">
        {{page.next.title}} &raquo;
    </a>
  {% endif %}
  </footer>


</article>
