---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline"><a class="post-title-link"  href="{{site.url}}{{page.url}}">{{ page.title }}</a></h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">Written by <a class="post-title-link"  href="{{site.url}}/about">{{ page.author }}</a> on {{ page.date | date: "%b %-d, %Y" }}</time></p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
    <div class="post-col-wrapper">
      <div class="post-col post-col-1">
        {% if site.social %}
          {% include /posts/sharing.html %}
        {% endif %}
      </div>
      <div class="postTag post-col post-col-2">
        <br>
        Tags:&nbsp;
        {% for tag in page.tags %}
            {% capture tag_name %}{{tag}}{% endcapture %}
            <a href="{{site.url}}/tag/{{tag_name}}"><code class="highlighter-rouge"><nobr>{{tag_name}}</nobr></code></a>
        {% endfor %}
      </div>
    </div>
  </div>

  <footer class="postNavigation">
  {% if page.previous.url %}
    <a class="postPrev" href="{{ site.url }}{{page.previous.url}}">
        &laquo; {{page.previous.title}}
    </a>
  {% endif %}
  {% if page.next.url %}
    <a class="postNext" href="{{ site.url }}{{page.next.url}}">
        {{page.next.title}} &raquo;
    </a>
  {% endif %}
  </footer>

  {% assign words = post.title | downcase | split: " " %}
  {% assign excerpt = post.content | strip_html | truncate:100 %}
  {% assign joined_title = post.title | join:'-' | escape %}
  {% assign my_link = "/blog/" | append: joined_title %}
  {%
    include structured_data/posts.html
    headline=post.title
    genre=post.category
    keywords=post.tags
    content=excerpt
    link=my_link
    date=post.date
  %}

</article>
