---
layout: page
---
<div class="postArchive">
{% for page in site.pages %}
  {% if page.sitemap != "ignore" and page.title %}
      <li><a class="postLink" href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
      {% if page.title == "Blog" %}
        {% for post in site.posts %}
          <ul><li><a class="postLink" href="{{site.url}}{{post.url}}">{{post.title}}</a></li></ul>
        {% endfor %}
      {% else %}
        </li>
      {% endif %}
  {% endif %}
{% endfor %}
</div>
